@page "/"

<PageTitle>EstiTracker</PageTitle>

<h1>Welcome to EstiTracker</h1>

<table>
    <thead>
        <th>Customer</th>
        <th>Job Type</th>
        <th>Date Created</th>
        <th>Date Update</th>
        <th>Rush</th>
        <th></th>
    </thead>
    <tbody>

    </tbody>

</table>

@code{

}

